@import "tailwindcss";

@theme {
    /* GREEN BUILDING THEME */
    /* Primary: Forest Green - used for buttons, primary actions, and highlights */
    --color-primary: #166534;
    --color-primary-hover: #14532d;

    /* Secondary: Earth Brown - used for accents, badges, and secondary buttons */
    --color-secondary: #9A3412;
    --color-secondary-hover: #7c2d12;

    /* Accent / Neutral: Sand - used for soft backgrounds replacing gray-50 or blue-50 */
    --color-accent: #FDF6E3;
    --color-accent-hover: #f3ead3;

    --color-background-light: #ffffff;
    --color-background-dark: #1e293b;

    --font-display: "Newsreader", serif;
    --font-sans: "Noto Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-manrope: "Manrope", sans-serif;

    --radius-none: 0px;
}

@utility form-input {
    border: 1px solid var(--color-slate-300);
    background-color: white;
    color: var(--color-slate-900);
    outline: none;

    &::placeholder {
        color: var(--color-slate-400);
    }

    &:focus {
        border-color: black;
    }
}

@utility form-select {
    border: 1px solid var(--color-slate-300);
    background-color: white;
    color: var(--color-slate-900);
    outline: none;

    &:focus {
        border-color: black;
    }
}

@utility form-textarea {
    border: 1px solid var(--color-slate-300);
    background-color: white;
    color: var(--color-slate-900);
    outline: none;

    &::placeholder {
        color: var(--color-slate-400);
    }

    &:focus {
        border-color: black;
    }
}

html,
body {
    @apply scroll-smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}